### 1번

In [1]:
nums = [100, 200, 300, 400, 500]

In [8]:
del nums[3:5]
print(nums)

# pop.nums(3:5) 나 nums.remove(400,500) 도 가능

[100, 200, 300]

### 2번

In [12]:
l = [200, 100, 300]
l.insert(2, 1000)
print(l)

[200, 100, 1000, 300]

### 3번

In [13]:
l = [100, 200, 300]
print(type(l))

# l 리스트 자체의 타입을 물어보기 때문에 list.

<class 'list'>

### 4

In [14]:
# 3번. char = 문자열. str 이 와야함.

### 5,6

In [15]:
5. 4번 16       
6. 2번 1 / false=0, true=1

16

7

In [ ]:
# 변수명으로 사용할 수 없는 것
as (예약어), 1age (첫글자 숫자.)
_age 는 사용가능

In [20]:
# 9. sep,end 활용

year= '2019' 
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end='  ')
print(hour, minute, second, sep=':', end ='')

2019/04/26  11:34:27

In [21]:
# 10. 별 찍기

b = int(input("몇 줄의 트리를 만들고 싶은가요?: "))

for i in range(1, b+1):
    print(" "*(b-i)+("*"*(2*i-1)))

몇 줄의 트리를 만들고 싶은가요?: 5
    *
   ***
  *****
 *******
*********

In [22]:
#11.

s = 0

for i in range(1,101):
    s +=i
    
print(s)

5050

In [32]:
#12.
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
 
    def attack(self):
        print('파이어볼')

x = Wizard(health=545, mana=210, armor=10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [35]:
#13. 몇 번째 행성인가요?

solar = ['수성','금성','지구','화성','목성','토성','천왕성','해왕성']
user = int(input("몇 번째 행성이 궁금하세요?: "))

print(solar[user-1])

몇 번째 행성이 궁금하세요?: 1
수성

In [40]:
#14. 3의 배수인가요?

while True:
    yh = int(input("숫자 입력/그만하고싶을땐 0 : "))
    if yh%3 == 0 and yh!=0:
        print("짝")
        
    elif yh==0:
        print("종료합니다.")
        break
        
    else :
        print(yh)

숫자 입력/그만하고싶을땐 0 : 3
짝
숫자 입력/그만하고싶을땐 0 : 2
2
숫자 입력/그만하고싶을땐 0 : 0
종료합니다.

In [38]:
#15. 자기소개

name = input("이름은?: ")
print("안녕하세요. 저는 {}입니다.".format(name))

이름은?: 이유진
안녕하세요. 저는 이유진입니다.

In [42]:
#16. 로꾸거

moon = input("문장 입력: ")
print(moon[::-1])

문장 입력: 거꾸로
로꾸거

In [43]:
#17. 놀이기구

h = int(input("키를 입력하세요.:  "))
if h >= 150:
    print("YES")
else :
    print("NO")

키를 입력하세요.:  155
YES

In [47]:
#18. 평균 점수

data = list(map(int, input().split()))
print(int(sum(data)))

20 30 40
90

In [49]:
#19. 제곱구하기

data = list(map(int, input().split()))
print(data[0] ** data[1])

3 2
9

## map(함수, iterable) 

첫 번째 인자에 함수, 두 번째 인자에 반복 가능한(iterable) 자료형을 입력한다.

- 함수를 넣는 첫 번째 인자는 def문으로 미리 정의한 함수나 lambda 식을 입력하는 것도 가능하다.

- 두 번째 인자의 iterable 데이터는 list, tuple과 같은 반복 가능한 데이터를 의미한다.

In [52]:
# 20. 몫과 나머지
num = list(map(int,input().split()))
print("몫: {}, 나머지: {}".format(num[0]/num[1],num[0]%num[1]))

10 2
몫: 5.0, 나머지: 0

In [ ]:
# 21. set 만드는 법
x = {} 와 같은 형식 안됨!

In [54]:
# 23. 
print(10/2)
  #5.0 으로 나오는 것 알아두기

5.0

In [56]:
#24. 대문자로 바꾸기
name = input("이름 입력 : ")
print(name.upper())

#   소문자는 lower. 
#   불린값으로 소/대문자 구별하려면 isupper/islower

이름 입력 : youjin
YOUJIN

In [58]:
#25. 원의 넓이
def solution(n):
    return n*n*3.14

print(solution(int(input("반지름: "))))

반지름: 7
153.86

In [59]:
#26. 행성문제/ 행성 한글이름 입력 시 영어이름 반환

planets = {
'수성' : 'Mercury',
    '금성' : 'Venus',
    '지구' : 'Earth',
    '화성' : 'Mars',
    '목성' : 'Jupiter',
    '토성' : 'Saturn',
    '천왕성' : 'Uranus',
    '해왕성' : 'Neptune',
}

name = input()
print(planets[name])

지구
Earth

In [ ]:
#27. 딕셔너리

keys = input().split()
values = map(int, input().split())

result = dict(zip(keys, values))
print(result)

# zip() 은 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수

In [63]:
#28. 2-gram

gram = input()
for i in range(len(gram)-1):
    print(data[i], data[i+1], sep = '')

python
py
yt
th
ho
on

In [66]:
#29. 대문자만

data = input()

if data.isupper():
	print("YES")
else:
	print("NO")

A
YES

In [67]:
#30. 문자열 속 문자 찾기

munjang = input()
tofind = input()

print(munjang.find(tofind))

pineapple is yummy
apple
4

In [ ]:
#31. 자료형의 시간 복잡도

시간복잡도 = 한마디로 시간이 얼마나 걸리느냐

 

파이썬의 기본 산술 연산들은 O(1)으로 즉각적인 결과가 나타납니다.

길이가 n인 리스트를 처음부터 끝까지 요소를 하나씩 출력한다면, print함수를 n번 사용하므로 O(1) x n이므로 O(n)이라고 생각할 수 있습니다. 
이중 for문은 O(n²), 삼중 for문은 O(n³)과 같은 방식으로 진행됩니다.

 
복잡한 정도는 n의 차수가 올라갈수록 시간복잡도가 높아지고
즉 오래걸리는 정도를 의미한다.

In [71]:
#32. 문자열 만들기

howmany = input().strip().split()
print(len(howmany))

저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐
9

In [74]:
#33. 거꾸로 출력

n = input()

l = list(n.strip().split())
len1 = len(l) - 1
for i in range(len1, -1, -1):
	print(l[i], end=' ')

1 2 3 4 5
5 4 3 2 1

In [76]:
#34. sort / 순서정렬 시 yes

user_input = input()

l = list(user_input.strip().split())
l = [int (i) for i in l]

if l != sorted(l):
	print("NO")
	
else:
	print("YES")

176 156 109
NO

In [ ]:
#35. factory

def one(n):
    def two(value):
        sq = value ** n
        return sq
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

In [79]:
#36. 구구단

n = int(input())
for i in range(1, 10):
	print(n*i, end = ' ')

2
0 2 4 6 8 10 12 14 16 18

In [84]:
#37. count

from collections import Counter
name_list = input()
name_list = name_list.split(' ')
name_count =Counter(name_list)
a= name_count.most_common(1)
print((a[0][0]),"가",(a[0][1]),"표로 반장이 되었습니다")

유진 준 유진 유진
유진 가 3 표로 반장이 되었습니다

In [ ]:
#38. 
# 조건: 1~3 등은 몇명인가? // 조건2 : 동일 점수 인정

from collections import Counter
score_list = [97,86,75,66,55,97,85,97,97,95]
score_list.sort(reverse = True) # 내림 차순으로 정렬

count =0 # 몇명에게 사탕을 줘야 하는지
c_count =0 # 3등 까지인것을 확인하기 위해

for i in range(len(score_list)): #총 리스트수 만큼 for문 돌리기
    count +=1 #인원수 계속 증가
if score_list[i] != score_list[i+1]: #다음 리스트와 다르다면
    c_count +=1 # c_count 를 추가해라
else:pass
if c_count == 3: # 다음 리스트와 다른게 3번 되면 멈춰라
    break
print(score_list)
print(count)